<div class="row-fluid">

    <%= form_for @cliente, :html => {:class => "form-horizontal"} do |f| %>
        <% if cliente.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

            <ul>
            <% cliente.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>


        <div class="form-group">
          <%= f.label :nome, :class => "col-xs-3 col-form-label"  %>
          <%= f.text_field :nome, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :cpf, :class => "col-xs-3 col-form-label" %>
          <%= f.text_field :cpf, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :email, :class => "col-xs-3 col-form-label" %>
          <%= f.text_field :email, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :telefone, :class => "col-xs-3 col-form-label" %>
          <%= f.text_field :telefone, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :celular, :class => "col-xs-3 col-form-label" %>
          <%= f.text_field :celular, :class => "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :nascimento, :class => "col-xs-3 col-form-label" %>
          <%= f.date_select :nascimento, :class => "form-control" %>
        </div>

        <div class="actions">
          <%= f.submit :class => "btn btn-primary" %>
          <%= link_to 'Back', clientes_path, class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
