<div class="row-fluid">
  <div class="span4 well">

    <p>
      <strong>Empresa:</strong>
      <%= @divida.empresa_id %>
    </p>

    <p>
      <strong>Cliente:</strong>
      <%= @divida.cliente_id %>
    </p>

    <p>
      <strong>Valor:</strong>
      <%= @divida.valor %>
    </p>

    <p>
      <strong>Flag:</strong>
      <%= @divida.flag %>
    </p>

    <%= link_to 'Editar', edit_divida_path(@divida) %> |
    <%= link_to 'Voltar', dividas_path %>
  </div>
</div>
