<div class="container">
  <div class="row">

    <h1>Empresas</h1>

    <table class="table  table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>CNPJ</th>
          <th>Email</th>
          <th>Telefone</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @empresas.each do |empresa| %>
          <tr>
            <td><%= empresa.nome %></td>
            <td><%= empresa.cnpj %></td>
            <td><%= empresa.email %></td>
            <td><%= empresa.telefone %></td>
            <td><%= link_to 'Exibir', empresa %></td>
            <td><%= link_to 'Editar', edit_empresa_path(empresa) %></td>
            <td><%= link_to 'Apagar', empresa, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nova Empresa', new_empresa_path %>
  </div>
</div>
